In [2]:
import pandas as pd


data = {
    'Student': ['A', 'B', 'C', 'D','E'],
    'Gender': ['Male', 'Female', 'Male', 'Female','Male'],
    'stream':['Science','Commers','Art','Science','Commerse'],
    'Attendance(%)':[85,92,75,88,60],
    'Study hours/Week':[10,14,7,11,6],
    'Grade':['B','A','C','B','D'],
    'Hostel Resident':['Yes','No','Yes','No','Yes']
}

df = pd.DataFrame(data)
df

,Student,Gender,stream,Attendance(%),Study hours/Week,Grade,Hostel Resident
0,A,Male,Science,85,10,B,Yes
1,B,Female,Commers,92,14,A,No
2,C,Male,Art,75,7,C,Yes
3,D,Female,Science,88,11,B,No
4,E,Male,Commerse,60,6,D,Yes

In [3]:
column_types = {
    'Student': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Stream': 'Qualitative - Ordinal',
    'Attendance(%)': 'Quantitative - Discrete',
    'Study hours/Week': 'Quantitative - Continuous',
    'Grade': 'Qualitative - Nominal',
    'Hstel Resident': 'Qualitative - Nominal'
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Student: Qualitative - Nominal
Gender: Qualitative - Nominal
Stream: Qualitative - Ordinal
Attendance(%): Quantitative - Discrete
Study hours/Week: Quantitative - Continuous
Grade: Qualitative - Nominal
Hstel Resident: Qualitative - Nominal

In [5]:
df.dtypes

Student             object
Gender              object
stream              object
Attendance(%)        int64
Study hours/Week     int64
Grade               object
Hostel Resident     object
dtype: object